body {
  font-family: "Source Sans 3", sans-serif;
  color: white;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  margin: auto;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 70%;
  z-index: 10;
}

header img {
  height: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.banner {
  background-image: url("images/Object.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px;
  position: relative;
}
.banner button {
  background-color: #c271ff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.intro {
  display: block;
  margin-top: 200px;
  color: white;
}
.intro h1 {
  font-size: 115px;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
}
.intro p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.register {
  background-color: #c271ff;
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-in-out;
}
.register :hover {
  cursor: pointer;
  color: #885df1;
}
.intro button {
  font-size: 11px;
  padding: 10px 16px;
  margin: 15px auto;
  font-weight: 550;
}
.mentors {
  padding-top: 40px;
  padding-bottom: 50px;
}
.mentors h2 {
  font-size: 24px;
  font-weight: 300;
  padding-top: 130px;
  padding-bottom: 80px;
}

.mentors h2 span {
  color: #c271ff;
  font-weight: 700;
}

.mentor-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.mentor {
  text-align: center;
  justify-content: center;
}

.mentor img {
  border-radius: 60%;
  height: 140px;
  width: 140px;
  object-fit: cover;
}

.mentor h3 {
  font-weight: bold;
  margin-top: 15px;
}

.mentor p {
  font-size: 14px;
  opacity: 0.8;
  line-height: 100%;
  font-style: italic;
}
.quote {
  background-color: #c271ff;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}
.quote-block {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 900px;
}
.quote-block img {
  border-radius: 60%;
  height: 140px;
  width: 140px;
  object-fit: cover;
}
.quote-block blockquote {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}
.quote-block p {
  margin: 15px 0;
}
.title {
  margin-top: 5px;
  font-style: italic;
  font-weight: 400;
}
.videos {
  padding: 60px 80px;
  background-color: white;
  color: black;
  text-align: center;
}

.videos h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}

.videos h2 span {
  color: #c271ff;
  font-weight: 700;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.video {
  width: 100%;
  position: relative;
  text-align: left;
}

.video img:first-of-type {
  width: 100%;
  border-radius: 5px;
  display: block;
}

.play-button {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.video h3 {
  text-align: center;
  margin: 10px 0 5px;
  font-size: 16px;
}

.video p {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.4;
}
.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.author-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  position: relative;
  order: -1;
  left: 0%;
}

.author h4 {
  font-size: 14px;
  margin: 0;
  color: #c271ff;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #c271ff;
}

.rating img {
  width: 10px;
  height: 10px;
  object-fit: contain;
  left: 0;
}

.rating p {
  font-size: 12px;
  margin: 0;
  color: #c271ff;
}
.membership {
  text-align: center;
  background-color: #071629;
  padding: 60px 60px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
  color: #c271ff;
  margin-bottom: 50px;
}
h2 span {
  font-weight: 300;
  color: white;
}
.membership-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-bottom: 60px;
}
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}
.option img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 10px;
}
.option h3 {
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0 5px;
}
.option p {
  font-size: 15px;
  font-weight: 300;
  text-align: justify;
}
.register {
  background-color: #c271ff;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register :hover {
  color: #885df1;
  cursor: pointer;
}
.faq {
  color: black;
  padding: 80px 130px;
  text-align: center;
}
.faq h2 {
  color: black;
  font-size: 64px;
  font-weight: 300;
}
.faq-row {
  color: black;
  font-size: 32px;
  font-weight: 300px;
  margin-bottom: 300;
}
.faq-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.faq-item h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.faq-item p {
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
  opacity: 0.5;
}
